$bckg-solid: rgb(255, 249, 244);

$nav-text: #535353;
$nav-text-hover: rgba($nav-text, 0.6);
$nav-bckg: rgba($bckg-solid, 0.6);
$nav-bckg-solid: rgba($bckg-solid, 0.95);

$text-dark-contrast: #26221d;
$text-dark-contrast-shadow: #000000;
$text-contrast: #f3f3f3;
$text-contrast-dimmed: rgba($text-contrast, .6);
$text-shadow: #0c0c0c;
$text-shadow-dimmed: rgba($text-shadow, .6);
$text-email: #2f7ede;